<nav class="navbar sticky-top navbar-light bg-light p-3">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="brand">Party Management System</span>
        </div>
        <ul class="nav">
            <li class="nav-item" role="button" routerLinkActive="active">
                <a routerLink="/create">
                    <p class="m-2">Create Party</p>
                </a>
            </li>
            <li class="nav-item" role="button" routerLinkActive="active">
                <a class="d-flex flex-row" [routerLink]="['/party']">
                    <p class="m-2">View Parties</p>
                </a>
            </li>
            <li>
                <button class="btn btn-tertiary user-icon" (click)="logOut()">
                    <i class="bi bi-person"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>