<nav class="navbar navbar-default navbar-light bg-light p-3">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="font-size">Party Management System</span>
            <!-- <a href="#" class="navbar-brand">Party Management System</a> -->
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-tertiary font-size" (click)="logOut()">
                    <i class="bi bi-box-arrow-right fon"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>