<nav class="navbar sticky-top navbar-light p-3" style="background-color: #98a9d1;">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="brand" style="cursor: pointer;" (click)="home()">Party Management System</span>
        </div>
        <ul class="nav" *ngIf="isAuthenticated">
            <li class="nav-item" role="button" routerLinkActive="active">
                <a routerLink="/create">
                    <p class="m-2">Create Party</p>
                </a>
            </li>
            <li class="nav-item" role="button" routerLinkActive="active">
                <a class="d-flex flex-row" [routerLink]="['/party']">
                    <p class="m-2">View Parties</p>
                </a>
            </li>
            <li>
                <button class="btn btn-tertiary user-icon" (click)="logOut()">
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            </li>
        </ul>
        <div *ngIf="!isAuthenticated">
            <button class="btn btn-tertiary" (click)="login()">Login</button>
        </div>
    </div>
</nav>