<div class="box d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center m-3">
            <div class="cols-xs-12 col-md-4 col-md-offset-3 p-3 loginForm">
                <form [formGroup]="authForm">
                    <div class="form-group py-2 m-2">
                        <label for="username" class="my-2">User Name</label>
                        <input type="username" class="form-control" id="username" required email formControlName="username">
                    </div>
                    <div class="form-group py-2 m-2">
                        <label for="password" class="my-2">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required
                            minlength="6" formControlName="password">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <p style="font-size: 12px;">Password shoul have 1 Special, 1 Capital& Min 8 Char </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
                    </div>
                    <div class="py-5 d-flex justify-content-around">
                        <button class="btn btn-primary px-3" type="button" (click)="signIn()" >Log In</button>
                        <!-- <span>&nbsp;</span>
                        <button class="btn btn-primary px-3" type="button" (click)="signUp()" [disabled]="!authForm.valid">Sign Up</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>