<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="party1">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg" class="d-block w-100" alt="party2">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images.pexels.com/photos/796607/pexels-photo-796607.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="party3">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images.pexels.com/photos/1684187/pexels-photo-1684187.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="party4">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images.pexels.com/photos/1243337/pexels-photo-1243337.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="party5">
        </div>
    </div>
</div>

<app-view-cards></app-view-cards>
<app-contact></app-contact>