<aside class="main-sidebar">
    <nav class="p-3">
        <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
            <li class="nav-item d-flex flex-row" role="button">
                <i class="bi bi-house m-2"></i>
                <p class="m-2">Home</p>
            </li>
            <li class="nav-item d-flex flex-row" role="button">
                <i class="bi bi-plus-lg m-2"></i>
                <p class="m-2">Add Party</p>
            </li>
        </ul>
    </nav>
</aside>