<footer class="container d-flex justify-content-center align-items-center">
    <div class="align-center p-3">
        <div class="d-flex flex-column align-center">
            <h3>Mayuresh Takawane</h3>
            <div class="d-flex align-items-center justify-content-center">
                <a href="https://www.linkedin.com/in/mayuresh-takawane/" class="m-2"
                    style="text-decoration: none;" target="_blank"><i
                        class="bi bi-linkedin footer-icons"></i></a>
                <a href="https://github.com/mayur8485" class="m-2" style="text-decoration: none;"
                    target="_blank"><i class="bi bi-github footer-icons"></i></a>
            </div>
        </div>
    </div>
</footer>