<div class="main-box">
  <div class="box-head">
    <form class="d-flex justify-content-center" style="position: relative;">
      <div class="form-group col-md-2 my-2 d-flex flex-row" style="position: absolute; right: 10px;">
        <input type="number" class="form-control" id="search" placeholder="search by Id" #searchById><span>&nbsp;</span>
        <button class="btn btn-primary" (click)="onSearchById()">Search</button><span>&nbsp;</span>
        <button class="btn btn-danger" (click)="onResetSearchById()">Reset</button>
      </div>
      <div class="form-group col-md-4 my-2 d-flex flex-row">
        <input type="text" class="form-control" id="search" placeholder="search" (input)="onSearch($event)">
      </div>
    </form>
  </div>
  <table class="table" style="height: 300px; margin-bottom: 0px; background-color: white;">
    <thead>
      <tr>
        <th scope="col" style="max-width: 10px;">Id</th>
        <th scope="col" style="max-width: 50px;">Name</th>
        <th scope="col" style="max-width: 50px;">Company Name</th>
        <th scope="col" style="max-width: 50px;">Mobile No</th>
        <th scope="col" style="max-width: 50px;">Email</th>
        <th scope="col" style="max-width: 50px;">Remark</th>
        <th scope="col" style="max-width: 50px;">DOB</th>
        <th scope="col" style="max-width: 50px;">Anniversary Date</th>
        <th scope="col" style="max-width: 50px;">GSTIN</th>
        <th scope="col" style="max-width: 50px;">Pan No</th>
        <th scope="col" style="max-width: 50px;">Apply Tds</th>
        <th scope="col" style="max-width: 50px;">Credit Limit</th>
        <th scope="col" style="max-width: 50px;">is Active</th>
        <th scope="col" style="max-width: 50px;">Image</th>
        <th scope="col" style="max-width: 50px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let party of partiesPagination; let i = index">
        <th scope="row" style="max-width: 10px;">{{party.id}}</th>
        <th scope="row" style="max-width: 10px;">{{party.name}}</th>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.company_name}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.mobile_no}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.email}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.remark}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.date_of_birth}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.anniversary_date}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.gstin}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.pan_no}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.apply_tds}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.credit_limit}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.is_active}}</td>
        <td style="max-width: 50px;" class="text-nowrap text-truncate">{{party.image}}</td>
        <td>
          <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="[party.id,'edit']">Update</a></li>
              <li><a class="dropdown-item" [routerLink]="[party.id,'delete']">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="box-footer d-flex flex-row justify-content-center" style="height: 70px;">
    <ng-container *ngIf="noOfPages.length>1">
      <button class="btn pagination-btn p-2 border rounded-3 m-2" *ngFor="let page of noOfPages" (click)="addPagination(page)">{{page}}</button>
    </ng-container>
  </div>
</div>