<div class="form-container">
    <div class="container d-flex align-items-center justify-content-center h-100">
        <form [formGroup]="partyForm" class="border border-1 p-4 rounded-3 bg-white bg-opacity-50 myform" style="backdrop-filter: blur(50px);" (submit)="onCreatePartyDetails()">
            <div class="d-flex justify-content-center p-3" style="font-size: 40px;">
                Form
            </div>
            <div class="flex-column">
                <div class="form-group col-md-12 my-3 d-flex flex-row" *ngIf="mode !== 'create' ">
                    <label style="width: 300px;align-self: center;">ID</label>
                    <input type="text" class="form-control" id="id" formControlName="id" [readOnly]="true">
                </div>
                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Company Name</label>
                    <input type="text" class="form-control" id="company_name" placeholder="Company Name" formControlName="company_name" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Mobile No.</label>
                    <input type="text" class="form-control" id="mobile_no" placeholder="Enter Mobile Number." formControlName="mobile_no" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">WhatsApp No.</label>
                    <input type="text" class="form-control" id="whatsapp_no" placeholder="Enter Whatsapp Number." formControlName="whatsapp_no" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Telephone No.</label>
                    <input type="text" class="form-control" id="telephone_no" placeholder="Enter Telephone number." formControlName="telephone_no" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Please enter email" formControlName="email" [readOnly]="mode === 'delete'">
                </div>


                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Remark</label>
                    <input type="text" class="form-control" id="remark" placeholder="Please enter remark" formControlName="remark" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Date Of Birth</label>
                    <input type="date" class="form-control" id="date_of_birth" placeholder="Enter DOB" formControlName="date_of_birth" [readOnly]="mode === 'delete'">
                </div>


                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Anniversary Date</label>
                    <input type="date" class="form-control" id="anniversary_date" placeholder="Enter Anniversary Date" formControlName="anniversary_date" [readOnly]="mode === 'delete'">
                </div>


                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">GST IN</label>
                    <input type="text" class="form-control" id="gstin" placeholder="Please enter GST IN" formControlName="gstin" [readOnly]="mode === 'delete'">
                </div>


                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Pan No</label>
                    <input type="text" class="form-control" id="pan_no" placeholder="Please enter pan no" formControlName="pan_no" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Credit limit</label>
                    <input type="text" class="form-control" id="credit_limit" placeholder="Please enter credit limit" formControlName="credit_limit" [readOnly]="mode === 'delete'">
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Login Access</label>
                    <div class="d-flex flex-row justify-content-around w-100">
                        <div>
                            <input type="radio" [value]="true" name="login_access"  id="true" formControlName="login_access" [readOnly]="mode === 'delete'"> True
                        </div>
                        <div>
                            <input type="radio" [value]="false" name="login_access"  id="false" formControlName="login_access" [readOnly]="mode === 'delete'"> False
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Apply TDs</label>
                    <div class="d-flex flex-row justify-content-around w-100">
                        <div>
                            <input type="radio" [value]="true" name="apply_tds"  id="true" formControlName="apply_tds" [readOnly]="mode === 'delete'"> True
                        </div>
                        <div>
                            <input type="radio" [value]="false" name="apply_tds"  id="false" formControlName="apply_tds" [readOnly]="mode === 'delete'"> False
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">IsActive</label>
                    <div class="d-flex flex-row justify-content-around w-100">
                        <div>
                            <input type="radio" [value]="true" name="is_active"  id="true" formControlName="is_active" [readOnly]="mode === 'delete'"> True
                        </div>
                        <div>
                            <input type="radio" [value]="false" name="is_active"  id="false" formControlName="is_active" [readOnly]="mode === 'delete'"> False
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">                    
                    <label style="width: 300px;align-self: center;">Image</label>
                    <input type="file" class="form-control" id="image"  name="image" placeholder="Please enter Image" (change)="onFileChange($event)" [readOnly]="mode === 'delete'" accept="image/*">
                </div>

                <div formGroupName="userid">
                    <div class="form-group col-md-12 my-3 d-flex flex-row" *ngIf="mode !== 'create' ">
                        <label style="width: 300px;align-self: center;">ID</label>
                        <input type="text" class="form-control" id="id" formControlName="id" [readOnly]="true">
                    </div>

                    <div class="form-group col-md-12 my-3 d-flex flex-row">
                        <label style="width: 300px;align-self: center;">User Name</label>
                        <input type="text" class="form-control" id="username" placeholder="Please enter user name" formControlName="username" [readOnly]="mode === 'delete'">
                    </div>


                    <div class="form-group col-md-12 my-3 d-flex flex-row">
                        <label style="width: 300px;align-self: center;">Phone No</label>
                        <input type="text" class="form-control" id="phone_number" placeholder="Please enter phone number" formControlName="phone_number" [readOnly]="mode === 'delete'">
                    </div>
                </div>

                <div class="form-group col-md-12 my-3 d-flex flex-row">
                    <label style="width: 300px;align-self: center;">Pan No</label>
                    <input type="text" class="form-control" id="pan_no" placeholder="Please enter pan no" formControlName="pan_no" [readOnly]="mode === 'delete'">
                </div>

                <hr>
                <hr>
                    <div formArrayName="bank_id">
                        <div class="d-flex justify-content-center p-3" style="font-size: 30px;">
                            Bank Details <span>&nbsp;</span>
                            <button class="btn btn-primary" type="button" (click)="addBankForm()"><i class="bi bi-plus"></i></button><span>&nbsp;</span>
                            <button class="btn btn-danger" type="button" (click)="removeBankForm()"><i class="bi bi-dash"></i></button>
                        </div>

                        <div *ngFor="let bank of getControls('bank_id'); let i = index" [formGroupName]="i">

                            <hr class="half-width">
                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label style="width: 300px;align-self: center;">Id</label>
                                <input type="text" class="form-control" placeholder="Please enter ID" formControlName="id" [readOnly]="mode === 'delete'">
                            </div>

                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label  style="width: 300px;align-self: center;">Bank IFSC Code</label>
                                <input type="text" class="form-control" id="bank_ifsc_code" placeholder="Please enter IFSC Code" formControlName="bank_ifsc_code" [readOnly]="mode === 'delete'">
                            </div>

                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label style="width: 300px;align-self: center;">Bank Name</label>
                                <input type="text" class="form-control" id="bank_name" placeholder="Please enter bank name" formControlName="bank_name" [readOnly]="mode === 'delete'">
                            </div>

                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label style="width: 300px;align-self: center;">Branch Name</label>
                                <input type="text" class="form-control" id="branch_name" placeholder="Please enter branch name" formControlName="branch_name" [readOnly]="mode === 'delete'">
                            </div>

                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label style="width: 300px;align-self: center;">Account Number</label>
                                <input type="text" class="form-control" id="account_no" placeholder="Please enter account no" formControlName="account_no" [readOnly]="mode === 'delete'">
                            </div>

                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label style="width: 300px;align-self: center;">Holder Name</label>
                                <input type="text" class="form-control" id="account_holder_name" placeholder="Please enter acc holder name" formControlName="account_holder_name" [readOnly]="mode === 'delete'">
                            </div>
                            <!-- 
                            <div class="form-group col-md-12 my-3 d-flex flex-row">
                                <label style="width: 300px;align-self: center;">IsActive</label>
                                <div class="d-flex flex-row justify-content-around w-100">
                                    <div>
                                        <input type="radio" [value]="true" name="is_active"  [id]="'is_active_bank_true'+i" formControlName="is_active" [readOnly]="mode === 'delete'"> True
                                    </div>
                                    <div>
                                        <input type="radio" [value]="false" name="is_active" [id]="'is_active_bank_false'+i" formControlName="is_active" [readOnly]="mode === 'delete'"> False
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                <hr>
                <hr>
                <div formArrayName="address">
                    <div class="d-flex justify-content-center p-3" style="font-size: 30px;">
                        Address Details <span>&nbsp;</span>
                        <button class="btn btn-primary" type="button" (click)="addAddressForm()"><i class="bi bi-plus"></i></button><span>&nbsp;</span>
                        <button class="btn btn-danger" type="button" (click)="removeAddressForm()"><i class="bi bi-dash"></i></button>
                    </div>
                    <div *ngFor="let address of getControls('address'); let i = index" [formGroupName]="i">
                        <hr class="half-width">
                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">Id</label>
                            <input type="text" class="form-control" placeholder="Please enter ID" formControlName="id" [readOnly]="mode === 'delete'">
                        </div>

                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label  style="width: 300px;align-self: center;">Address Line 1</label>
                            <input type="text" class="form-control" id="address_line_1" placeholder="Address line 1" formControlName="address_line_1" [readOnly]="mode === 'delete'">
                        </div>

                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">Address Line 2</label>
                            <input type="text" class="form-control" id="address_line_1" placeholder="Address line 2" formControlName="address_line_1" [readOnly]="mode === 'delete'">
                        </div>

                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Please enter country" formControlName="country" [readOnly]="mode === 'delete'">
                        </div>

                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">State</label>
                            <input type="text" class="form-control" id="state" placeholder="Please enter state" formControlName="state" [readOnly]="mode === 'delete'">
                        </div>

                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">City</label>
                            <input type="text" class="form-control" id="city" placeholder="Please enter city" formControlName="city" [readOnly]="mode === 'delete'">
                        </div>

                        <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">Pincode</label>
                            <input type="text" class="form-control" id="pincode" placeholder="Please enter pincode" formControlName="pincode" [readOnly]="mode === 'delete'">
                        </div>

                        <!-- <div class="form-group col-md-12 my-3 d-flex flex-row">
                            <label style="width: 300px;align-self: center;">IsActive</label>
                            <div class="d-flex flex-row justify-content-around w-100">
                                <div>
                                    <input type="radio" [value]="true" [name]="'is_active_address_'+i"  [id]="'is_active_address_true'+i" formControlName="is_active" [readOnly]="mode === 'delete'"> True
                                </div>
                                <div>
                                    <input type="radio" [value]="false" [name]="'is_active_address_'+i"  [id]="'is_active_address_false'+i" formControlName="is_active" [readOnly]="mode === 'delete'"> False
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            <hr>

            </div>
            <div class="d-flex justify-content-center align-items-center my-5">
                <button type="submit" *ngIf="mode==='create'" class="btn btn-primary" [disabled]="!partyForm.valid">POST</button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-primary" (click)="onNavigate()">Back</button>
                <span>&nbsp;</span>
                <button type="button" *ngIf="mode==='edit'" class="btn btn-primary" (click)="onUpdatePartyDetails()" [disabled]="!partyForm.valid" [disabled]="!partyForm.dirty">PUT</button>
                <span>&nbsp;</span>
                <button type="button" *ngIf="mode==='edit'" class="btn btn-primary" (click)="patchValue()" [disabled]="!partyForm.valid" [disabled]="!partyForm.dirty">PATCH</button>
                <span>&nbsp;</span>
                <button type="button" *ngIf="mode==='delete'" class="btn btn-danger" (click)="onDeletePartyDetails()">DELETE</button>
            </div>
        </form>
    </div>
</div>